<!--Navigable top line-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Team Contacts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/records">Overview</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/create">Create</a>  
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!--container 5 down-->
<div class="container pt-5">
  <!-- Other container instructions: H-100 =?; P-0 to P-5 = container size;
  BG-Light = container gray; Border = container with edge; Rounded-3 =?;
  Text Center = Text Center
  --->
    <div class="h-100 p-5 bg-light border rounded-3 text-center">
      
      <!--display-...=Schriftart-->
        <div class="display-3">{{title}} </div>
      </div>

<hr>

      <!--Add app records.html = records.component.html:
          <app records> </ app records>-->

<router-outlet>
<!--Here are components of App-Routing.Module.ts Path-->
</router-outlet>

</div>


    

    
    


 
